@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$Dark-cyan: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);
$Very-dark-blue: hsl(212, 21%, 14%);
$Dark-grayish-blue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);

.montserrat-bold {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.fraunces-bold {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: $Cream;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  max-width: 500px;
  background-color: $White;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: fit-content;
  border-radius: 0.5rem;
  overflow: hidden;
  .desktop-img,
  .mobile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .desktop-img {
    @media (max-width: 768px) {
      display: none;
    }
  }
  .mobile-img {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
  .right-side {
    padding: 1.5rem;
    h5 {
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $Dark-grayish-blue;
      font-size: 0.8rem;
    }
    h1 {
      color: $Very-dark-blue;
      line-height: 1;
      margin-top: 1rem;
    }
    p {
      font-size: 13px;
      color: $Dark-grayish-blue;
      margin: 1.2rem 0 0.8rem;
    }
    .price-container {
      display: flex;
      align-items: center;
      h2 {
        color: $Dark-cyan;
      }
      p {
        font-size: 12px;
        margin-left: 1rem;
        text-decoration: line-through;
        color: $Dark-grayish-blue;
      }
    }
    .cart-container {
      background-color: $Dark-cyan;
      color: $White;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      padding: 0.7rem;
      border-radius: 8px;
      font-size: 12px;
      margin-top: 0.8rem;
      img {
        width: 12px;
        margin-right: 0.4rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
    margin: 1.5rem;
  }
}
